In [3]:
a=3

In [6]:
print("hello",a)

hello 3

In [11]:
print("hello{num}".format(num=a))

hello3

In [13]:
a=[1,2]

In [15]:
a[0]='a'

In [16]:
a

['a', 2]

In [17]:
t=(1,2,3)

In [18]:
t[0]

1

In [20]:
t[0]=5

TypeError: 'tuple' object does not support item assignment

In [22]:
range(5)

range(0, 5)

In [24]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
x=[1,2,3]

In [27]:
[item ** 2 for item in x]

[1, 4, 9]

In [28]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [29]:
my_func()

default

In [30]:
def times2(num):
    return num*2

In [31]:
times2(4)

8

In [32]:
lambda num: num*2

In [33]:
num=5

In [35]:
lambda num:num*2(2)

In [36]:
x=lambda num : num**2

In [37]:
x(3)

9

In [38]:
(lambda num:num+1)(3)

4

In [1]:
x=[1,2,3]

In [2]:
def times2(num):
    return num * 2

In [3]:
list(map(times2,x))

[2, 4, 6]

In [4]:
list(map(lambda var : var *3,x))

[3, 6, 9]

In [5]:
list(filter(lambda num:num % 2 ==0,x))

[2]